/********************************/
/*****        HEADER        *****/
/********************************/

//BACKGROUND
$header-bg: #000;
$header-bg-opacity-start: .3;
$header-bg-opacity-end: .5; 


// NAVBAR
// $navbar-bg: #985e6d;
$navbar-bg: #18121e;
$navbar-bg-opacity-start: .9;
$navbar-bg-opacity-end: .9;
$navbar-link: #985e6d;
// NAVBAR MINIMIZED 
$navbarmin-bg-opacity-start: .9;
$navbarmin-bg-opacity-end: .9;


/********************************/
/*****       SECTIONS       *****/
/********************************/

//SECTIONS 
$section-bg-dark:#18121e;
$section-bg-light: #f5f5f5;


//MISSION SECTION ICONS
$missionIcons-color:#985e6d;

//COLLECTION SECTION
$label-color:#985e6d;

//GALLERY SECTION
$activetab-color: #985e6d ;

//PRICING SECTION
$priceButton-bg: coral;



