.card-shadow{
    // box-shadow: 5px 8px 20px #444;
}

.card-heading{
    position: absolute;
    top:70%;
    right:0;
    letter-spacing: 1px;
    font-size: 14px;
    background: $label-color;
    width:70%;
    cursor: pointer;
    opacity: .8;
    transition: all .5s;
    &:hover{
        opacity: 1;
    }
}